.Server {
    border: 1px solid #999;
}

.Socket {
    border: 1px solid #999;
}

.Channel {
    border: 1px solid #999;
}

.SubChannel {
    border: 1px solid #999;
}

.Events {
    border: 1px solid #999;
}
